*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vh;
    background: linear-gradient(
        100deg,
        #3ffff5,
        #1a7cec
    );
}

.container{
    /* border: 2px solid; */
    position: absolute;
    transform: translate(-50%, -50%);
    width: 40%;
    min-width: 400px;
    top: 50%;
    left: 50%;
    padding: 20px;
}

.container #newtask input{
    width: 80%;
    padding: 14px 18px;
    border-radius: 6px;
    border: none;
    font-size: 16px;
    font-family: cursive;
}

.container #newtask input:focus{
    outline: none;
    border-color: #8bff8b;
}

.container #newtask button{
    height: 50px;
    padding: 10px;
    cursor: pointer;
    background-color: #8bff8b;
    border: none;
    border-radius: 6px;
    /* margin-left: 10px; */
    float: right;
    font-size: 22px;
}

#tasks{
    background-color: #ffff;
    width: 100%;
    /* padding: 14px 18px; */
    border-radius: 6px;
    margin-top: 20px; 
}

.task{
    font-size: 16px;
    padding: 14px 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: monospace;
}

.task span{
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid gray;
}

.task button{
    font-size: 24px;
    border: none;
    background-color: white;
    color: #f74a4a;
    cursor: pointer;
}

.completed{
    text-decoration: line-through;
}